<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//db.onlinewebfonts.com/c/f21923cb0f60b46d41a66875255790b3?family=NHaasGroteskDSPro-65Md"
        rel="stylesheet" type="text/css" />
    <title>Data Visualization</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/css/bootstrap-dark.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body class="bg-image" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://wallpaperaccess.com/full/2095724.png');
  height: 100vh; ">
    <div class="mask gradient-custom">

        <nav class="navbar navbar-expand-lg bg-info ">
            <div class="container-fluid">

                <form method="post">
                    <select class="form-select form-select-lg " aria-label=".form-select-lg example" name='selectCoin'
                        style="width: fit-content;" onchange='this.form.submit()'>
                        <option>Select Coin</option>
                        <option value="avalanche-2">Avalanche (AVAX)</option>
                        <option value="binancecoin">Binance (BNB)</option>
                        <option value="bitcoin">Bitcoin (BTC) </option>
                        <option value="cardano">Cardano (ADA)</option>
                        <option value="decentraland">Decentraland (MANA)</option>
                        <option value="dogecoin">Dogecoin (DOGE)</option>
                        <option value="ethereum">Ethereum (ETH)</option>
                        <option value="ripple">Ripple (XRP)</option>
                        <option value="solana">Solana (SOL)</option>
                        <option value="tether">Tether (USDT)</option>
                    </select>
                </form>
                <a class="navbar-brand d-flex ml-auto display-2 text-white fs-2 fw-bold text-uppercase "
                    style="font-family: 'NHaasGroteskDSPro-65Md'; text-shadow: 4px 4px #1a1a1a" href="#">Crypto
                    Dashboard</a>

            </div>
        </nav>

        <div class="fs-1 fw-bold m-3 text-Capitalize"
            style="font-family: 'NHaasGroteskDSPro-65Md'; margin-top: 3px !important; margin-bottom: 0px !important;">
            <%- mData.name %>
        </div>

        <section class="row m-3 mb-0" style="margin-top: 2px !important;">
            <div class="card text-white text-center  m-3"
                style="margin-top: 0px !important; width:11rem; background-color: rgb(43, 43, 43)">
                <div class="card-body">
                    <h6 class="card-title" style="font-family: 'NHaasGroteskDSPro-65Md';">Market Cap 24Hrs</h6>
                    <p class="card-text fw-bold fs-5" style=" color: aqua ;">
                        <%- mData.market_data.market_cap_change_percentage_24h %> %
                    </p>
                </div>
            </div>
            <div class="card text-white text-center  m-3"
                style="width:11rem; background-color: rgb(43, 43, 43); margin-top: 0px !important;">
                <div class="card-body">
                    <h6 class="card-title" style="font-family: 'NHaasGroteskDSPro-65Md';">All Time High</h6>
                    <p class="card-text fw-bold fs-5" style="color: aqua ;">
                        $ <%- mData.market_data.ath.usd %>
                    </p>
                </div>
            </div>
            <div class="card text-white text-center  m-3"
                style="width:11rem; background-color: rgb(43, 43, 43); margin-top: 0px !important;">
                <div class="card-body">
                    <h6 class="card-title" style="font-family: 'NHaasGroteskDSPro-65Md';">All Time High</h6>
                    <p class="card-text fw-bold fs-5" style="color: aqua ;">
                        $ <%- mData.market_data.atl.usd %>
                    </p>
                </div>
            </div>

            <div class="card text-white text-center  m-3"
                style="width:11rem; background-color: rgb(43, 43, 43); margin-top: 0px !important;">
                <div class="card-body">
                    <h6 class="card-title" style="font-family: 'NHaasGroteskDSPro-65Md';">Positive Sentiments </h6>
                    <p class="card-text fw-bold fs-5" style="color: aqua ;">
                        <%- mData.sentiment_votes_up_percentage %> %
                    </p>
                </div>
            </div>
            <div class="card text-white text-center  m-3"
                style="width:11rem; background-color: rgb(43, 43, 43); margin-top: 0px !important;">
                <div class="card-body">
                    <h6 class="card-title" style="font-family: 'NHaasGroteskDSPro-65Md';"> High 24Hrs </h6>
                    <p class="card-text fw-bold fs-5" style="color: rgb(51, 255, 0) ;">
                        $ <%- mData.market_data.high_24h["usd"] %>
                    </p>
                </div>
            </div>
            <div class="card text-white text-center  m-3"
                style="width:11rem; background-color: rgb(43, 43, 43); margin-top: 0px !important;">
                <div class="card-body">
                    <h6 class="card-title" style="font-family: 'NHaasGroteskDSPro-65Md';"> Low 24Hrs </h6>
                    <p class="card-text fw-bold fs-5" style="color: rgb(255, 32, 32) ;">
                        $ <%- mData.market_data.low_24h["usd"] %>
                    </p>
                </div>
            </div>
        </section>
        <div>
            <div class="text-white text-center"
                style="font-family: 'NHaasGroteskDSPro-65Md'; overflow: visible; height:2px; margin-top: 1%;"> Current
                Price</div>
            <div style="font-family: 'NHaasGroteskDSPro-65Md'; font-size:90px; 
        font-weight: 700; color: rgb(0, 255, 255); text-decoration: none solid rgb(255, 255, 255);  
          text-align: center; ">
                $<%- mData.market_data.current_price.usd %>
            </div>
        </div>



        <div class="container">
            <div class="row">
                <div class="col" id="chart1" style=" max-width: 610px;"></div>
                <div class="col" style="max-width:200px;">

                    <div class="card-body ">
                        <h6 class="card-title" style="font-family: 'NHaasGroteskDSPro-65Md';"> Market Cap </h6>
                        <p class="card-text fw-bold "
                            style="font-family: 'NHaasGroteskDSPro-65Md'; color: rgb(255, 255, 255) ; font-size: small;">
                            $ <%- mData.market_data.market_cap.usd %>
                        </p>
                    </div>

                    <div class="card-body ">
                        <h6 class="card-title" style="font-family: 'NHaasGroteskDSPro-65Md';"> Price Change 24hrs </h6>
                        <p class="card-text fw-bold "
                            style="font-family: 'NHaasGroteskDSPro-65Md'; color: rgb(255, 255, 255) ; font-size: small;">
                            $ <%- mData.market_data.price_change_24h_in_currency.usd %>
                        </p>
                    </div>
                    <div class="card-body ">
                        <h6 class="card-title" style="font-family: 'NHaasGroteskDSPro-65Md';"> Total Volume </h6>
                        <p class="card-text fw-bold "
                            style="font-family: 'NHaasGroteskDSPro-65Md'; color: rgb(255, 255, 255) ; font-size: small;">
                            $ <%- mData.market_data.total_volume.usd %>
                        </p>
                    </div>
                    <div class="card-body ">
                        <h6 class="card-title" style="font-family: 'NHaasGroteskDSPro-65Md';"> Circulating Supply</h6>
                        <p class="card-text fw-bold "
                            style="font-family: 'NHaasGroteskDSPro-65Md'; color: rgb(255, 255, 255) ; font-size: small;">
                            <%- mData.market_data["circulating_supply"] %>
                        </p>
                    </div>
                    <div class="card-body ">
                        <h6 class="card-title" style="font-family: 'NHaasGroteskDSPro-65Md';"> Twitter Followers</h6>
                        <p class="card-text fw-bold "
                            style="font-family: 'NHaasGroteskDSPro-65Md'; color: rgb(255, 255, 255) ; font-size: small;">
                            <%= mData.community_data.twitter_followers %>
                        </p>
                    </div>




                </div>
                <div class="col" style=" max-width: 310px;">
                    <div id="chart2"></div>
                    <div id="chart3"></div>
                </div>


            </div>
        </div>

        <script>
            let mPriceData = '<%- JSON.stringify(mChart.prices) %>'
            mPriceData = String(mPriceData)
            mPriceData = JSON.parse(mPriceData)
            var options = {
                chart: {
                    height: 400,
                    width: 600,
                    type: 'area'
                },
                grid: {
                    show: false
                },
                title: {
                    text: "Market Price (USD)",
                    style: {
                        fontSize: '14px',
                        fontWeight: 'bold',
                        color: '#00ffea'
                    }
                },
                stroke: {
                    curve: 'smooth'
                },
                series: [{
                    name: 'Market Price',
                    data: mPriceData

                }
                ],

                xaxis: {
                    type: "datetime"
                },
                dataLabels: {
                    enabled: false
                },
                yaxis: {
                    show: false
                },
                colors: ["#00ffea", "#00ffea"],
                tooltip: {
                    y: {
                        formatter: (value) => { return value.toFixed(2) }
                    },
                    theme: "dark"
                }
            }

            var chart = new ApexCharts(document.querySelector("#chart1"), options);

            chart.render();
        </script>
        <script>
            let mCapData = '<%- JSON.stringify(mChart.market_caps) %>'
            mCapData = String(mCapData)
            mCapData = JSON.parse(mCapData)
            var options = {
                chart: {
                    height: 200,
                    width: 300,
                    type: 'line'
                },
                grid: {
                    show: false
                },
                theme: {
                    mode: 'dark'
                },
                series: [{
                    name: 'Market Cap (USD)',
                    data: mCapData,
                }
                ],
                xaxis: {
                    type: "datetime"
                }, dataLabels: {
                    enabled: false
                },
                theme: {
                    mode: 'light',
                    palette: 'palette1',
                    monochrome: {
                        enabled: false,
                        color: '#255aee',
                        shadeTo: 'light',
                        shadeIntensity: 0.65
                    },
                }
                ,
                title: {
                    text: "Market Cap (USD)",
                    style: {
                        fontSize: '14px',
                        fontWeight: 'bold',
                        color: '#ff69f5'
                    }
                },
                yaxis: [{
                    show: false,
                }
                ],
                colors: ["#ff69f5"],
                tooltip: {
                    y: {
                        formatter: function (val) {
                            return val
                        }
                    },
                    theme: "dark"
                }
            }

            var chart = new ApexCharts(document.querySelector("#chart2"), options);

            chart.render();
        </script>
        <script>
            let mVolData = '<%- JSON.stringify(mChart.total_volumes) %>'
            mVolData = String(mVolData)
            mVolData = JSON.parse(mVolData)
            var options = {
                chart: {
                    height: 200,
                    width: 300,
                    type: 'line'
                },
                theme: {
                    mode: 'dark'
                },
                grid: {
                    show: false
                },
                title: {
                    text: "Market Volume",
                    style: {
                        fontSize: '14px',
                        fontWeight: 'bold',
                        color: '#ffff00'
                    }
                },
                series: [{
                    name: 'Market Volume',
                    data: mVolData,
                }
                ],
                xaxis: {
                    type: "datetime"
                },
                dataLabels: {
                    enabled: false
                },

                yaxis: [{
                    show: false,
                }
                ],
                theme: {
                    mode: 'light',
                    palette: 'palette1',
                    monochrome: {
                        enabled: false,
                        color: '#ffffff',
                        shadeTo: 'light',
                        shadeIntensity: 0.65
                    }
                },
                colors: ["#ffff00"],
                tooltip: {
                    y: {
                        formatter: function (val) {
                            return val
                        }
                    },
                    theme: "dark"
                }
            }

            var chart = new ApexCharts(document.querySelector("#chart3"), options);

            chart.render();
        </script>
</body>

</html>